* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$purple1: #b086bb;
$purple2: #9f8fa3;
$purple3: #8b79a2;
$purple4: #7f66a7;
$white: #eeeeee;

body {
  background: $white !important;
  height: 100vh;
  width: 100vw;
}

#jumbotron {
  background-color: $purple1 !important;
  padding: 1rem;
}
.top-buffer {
  margin-top: 20px;
}

.link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  &__img,
  &__text {
    transition: all 0.2s ease;
  }

  &__img {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 100%;
    cursor: pointer;
    border-radius: 0.3rem;
  }
  &__text {
    opacity: 0;
    position: absolute;
    color: $white !important;
    font-weight: 800;
  }

  &:hover {
    .link__img {
      filter: brightness(0.2);
    }
    .link__text {
      opacity: 1;
    }
  }
  &:nth-child(1) {
    .link__img {
      background-image: url(../img/split-card.jpg);
    }
  }
  &:nth-child(2) {
    .link__img {
      background-image: url(../img/dubrovnik-card.jpg);
    }
  }
  &:nth-child(3) {
    .link__img {
      background-image: url(../img/warsaw-card.jpg);
    }
  }
  &:nth-child(4) {
    .link__img {
      background-image: url(../img/krakow-card.jpg);
    }
  }
}

//MASONRY

.grid {
  display: flex;

  &-col {
    flex: 1;
    padding: 0 0.1em;
  }
  img {
    width: 100%;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
      transform: scale(0.98);
    }
  }
}
.grid-col--2 {
  display: none;
}

@media (min-width: 992px) {
  .grid-col--2 {
    display: inline;
  }
}
